.form{
    width: 50%;
    background-color: #333;
    color: white;
    padding: .5rem;
    border-radius: .6rem;
    margin-bottom: .5rem;
}

.form-field{
    margin: 1rem 0;
    display: flex;
}

.form-field-level{
    flex-basis: 20%;
}

.form-field input{
    flex-basis: 80%;
}
.form-field-textaarea{
    flex-basis: 80%;
    resize: none;
    border: noone;
    border-radius: .6rem;
    padding: .2rem;
}
.form-button{
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 30px;
}
.form button:hover{
    background-color: orange;
    color: white;
}

